<h1>Nos restos</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li class="my-3"><%= link_to(restaurant.name, restaurant_path(restaurant)) %></li>
  <% end %>
</ul>

<%= link_to("Créer un resto", new_restaurant_path, class: "btn btn-primary") %>
